@charset "utf-8";
/* CSS Document */
*{
	padding: 0;
	margin:0;
}
/*
body{
	background-color:black !important;
*/
/*}*/
@font-face{
	font-family: font1;
	src:url("../Fonts/Montserrat-Bold.ttf");
}
@font-face{
	font-family: font2;
	src:url("../Fonts/Montserrat-Regular.ttf");
}
.banner{
	background-image: url("../IMAGES/Takashi-Amano-House.jpg");
	background-size:cover;
	height: 100vh;
	background-position: bottom;
	padding-top:65vh;
	padding-left:120%;
	position: relative;
}
.banner .menu{
	position: absolute;
	top:10px;
	width:95%
}
.banner h1{
	font-size:100px;
	letter-spacing: 10px;
	line-height: 90px;
	
}
.banner h4{
	font-weight:lighter;
	letter-spacing: 9px;
}
@keyframes fade-in-bck{0%{transform:translateZ(80px);opacity:0}100%{transform:translateZ(0);opacity:1}}
.banner{animation:fade-in-bck 2s cubic-bezier(.39,.575,.565,1.000) both}
@keyframes focus-in-expand{0%{letter-spacing:-.5em;filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}
.banner h1{animation:focus-in-expand 3s cubic-bezier(.25,.46,.45,.94) both}
.banner h4{animation:focus-in-expand 3s cubic-bezier(.25,.46,.45,.94) both}

.banner p{
	position: absolute;
	top:85.5%;
	right:34%;line-height: 15px;
}
@keyframes fade-in{0%{opacity:0}100%{opacity:1}}
.banner p{animation:fade-in 4s cubic-bezier(.39,.575,.565,1.000) 2s both}

.about{
/*	background-color:#0426a0;*/
	color:black;
	height:70vh;
	position:relative;
}
.about button i{
	padding-left:10px
}
.about button{
	border-radius:50px;
	background-color:#0426A0;
	color:white;
}
@keyframes blink-1{0%,50%,100%{opacity:1}25%,75%{opacity:0}}
.about button:hover .muiten{animation:blink-1 .6s infinite both}

.about .vien{
	border: 1px solid;
	height:300px;
	width:75%;
	position:absolute;
	top:25vh;
	left:20%
}
.about .doanvan{
	position:absolute;
	top:36vh;
	left:62%;
	z-index: 89;
}
.about .hinh{
	position: absolute;
	left:35px;
	z-index: 90
}
.about .vien1{
	background-color: gray;
	height: 3px;
	width:14%;
	position: absolute;
	top:15%;
	right:24%;
	z-index: 91;
}
.about h1{
	position: absolute;
	right:5%;
}
.about p{
	line-height: 20px;
}

/*
@keyframes slide-in-left{0%{transform:translateX(-1000px);opacity:0}100%{transform:translateX(0);opacity:1}}
.about .hinh{animation:slide-in-left 3s cubic-bezier(.25,.46,.45,.94) 4s both}
@keyframes slide-in-right{0%{transform:translateX(100px);opacity:0}100%{transform:translateX(0);opacity:1}}
.vien1{animation:slide-in-right 4s cubic-bezier(.25,.46,.45,.94) 4s both}
.about h1{animation:slide-in-right 5s cubic-bezier(.25,.46,.45,.94) 4s both}
*/

.scape{
	background-image: url("../IMAGES/ghỵuik.jpg");
	height:60vh;
	background-size:cover;
	background-position: center;
/*	margin: 30px 0;	*/
	position: relative;
	
}
.scape h1{
	color:white;
	position: absolute;
	bottom:3vh;
	left:42.5%;font-weight: bolder;
}
.scape .gridscape{
	position: absolute;
	top:10%;
	left:3%;
}
.scape button{
	border-radius:50px;
	background-color:#0426A0;
	color:white;
}
.gridscape img{
	width:100%;
}
.cover{
	height:100%;
	background-color:#0426A0ed;
	position: absolute;
	top: 0;
	left:15px;
	width:92%;
	display:none;
}
.coverout:hover .cover{
	display:block;
}
.cover .ghichu{
	font-size:15px;
	color:white;
	text-align: center;
	padding-top:45%
}
.coverout .ghichu:hover .muiten1{animation:blink-1 .6s infinite both}

.products{
	height:75vh;
	position: relative;
	
/*	background-color:#0426A0*/
}
.products .vien2{
	border: 1px solid grey;
	height:100px;
	width:30%;
	position: absolute;
	top: 40vh;
	left:34.5%
}
.products img{
	position: absolute;
	z-index: 99;
	left:40%;

}
.products h1{
	font-weight: bold;
	color:black;
	position: absolute;
	top:53.5vh;
	left:39%
}
.products button{
	position: absolute;
	top:61vh;
	left:46%;
	border-radius:50px;
	background-color:#0426A0;
	color:white;
}
.products button:hover .muiten2{animation:blink-1 .6s infinite both}

.contact{
	height:50vh;
	position: relative;

}
.contact a{
	text-decoration: none;
	color:dimgrey;
}
.contact a:hover {
	color:dimgrey;
	text-decoration: none;
}
.contact hr{
	border-top: 1px solid #0426A0;
	width:65%;
	position: absolute;
	left:20%
}
.contact .grid1{
	padding-left: 20%;

}
.footer{
	background-color:#0426A0;
	display: flex;
	justify-content: space-around;
	color:white;
	padding-top:10px;
}
#mybt i{
	color:#0426A0;
	border:none;
}
#mybt{
	border:none;
	border-radius: 10px;
	font-size: 20px;
	padding: 10px;
	position:absolute;
	right:50px;
	bottom:50px;
	z-index: 99999999;
/*	display:none;*/
}
html{
	scroll-behavior: smooth;
}
/*
.mybtn{
	border:1px solid #0426A0;
	position: absolute;
	height: 39px;
	width: 50px;
	top:58.5vh;
	right:50%;
	justify-content: center;
}
*/

.scape button:hover .muiten3{animation:blink-1 .6s infinite both}

.cus{
	height:100vh;
	text-align: center;
	position:relative;
}
.cus .cusbg{
	padding-top:100px;
	width:50%
}
.cus .ava{
	width:5%;
	position: absolute;
	left:3%;
	top:90vh;
}
.cus h1{
	font-family: font1;
	position: absolute;
	top:5vh;
	left:50px;
	line-height: 35px;
}
.cus p{
	font-family: font2;
	line-height: 15px;
	position: absolute;
	top: 5vh;
	right:50px;
}
.cus .but1{
	width:200px;
	heigth:100px;
	background-color:#0426A0;
	border-radius:50px;
	padding:20px;
	color:white;
	position: absolute;
	top:85vh;
	right:3%;
	font-family: font1;
	font-size:20px;
}
.cus a{
	color:white;
}
.cus a:hover{
	text-decoration: none;
	color:dimgrey;
}


@media screen and (max-width:415px){
/*	----banner----*/
	.banner .menu{
		left:10px;
	}
	.banner h1{
		font-size:50px !important;
		line-height: 45px;
		text-align: center;
	}
	.banner h4{
		font-size:10px !important;
		letter-spacing: 7px;
		text-align: center;
	}
	.banner p{
		top:88% !important;
		font-size:13px;
		text-align: center;
	}
	
/*	---about---*/
	.about img{
		width:90%!important;
	}
	.about .hinh{
		left:45px!important;
	}
	.about .vien{
		display:none;
	}
	.about h1{
		display:none;
	}
	.about .doanvan{
		left:5px!important;
		text-align: center;
		bottom:150px;
	}
	.about .doanvan p{
		font-size:13px!important
	}
	.about .vien1{
		display:none;
	}
/*---gallery---*/
	.scape .gridscape{
		grid-row-gap: 10px!important;
	}
	.scape{
		height: 130vh!important;
	}
	.scape h1{
		left:32%!important;
		top:3%!important;
		font-size:35px;
	}
	
/*----products---*/
	.products{
		height:70vh!important;
	}
	.products img{
		left:21%!important;
		width:60%;
	}
	.products h1{
		left:15%!important;
		font-size:35px;
		padding: 30px 0 0 0;
	}
	.products .vien2{
		left:15%;
		width:300px;
	}
	.products button{
		left:40%!important;
		margin-top:15px;
	}
	
/*	---custome---*/
	.cus {
		position: relative;
	}
	.cus .cusbg{
		width:100%!important;
		position: absolute;
		top:25%;
		left:1%
	}
	.cus .ava{
		width:10%;
		top:30%;
		left:45%;
	}
	.cus h1{
		font-size:35px;
		left:15%;
		top:15%;
	}
	.cus p{
		font-size:13px;
		top:78%;left:15%;
	}
	.cus .but1{
		left:34%;
		width:150px;height:50px;
		font-size:10px;
	}
/*----contact----*/
	.contact{
		height: 70vh;
	}
	.contact p{
		font-size:13px;
	}
	.contact h3{
		font-size:20px;
	}
	.contact .grid1{
		padding-left:5%!important;
/*		grid-column-gap: 0px!important*/
	}
	#mybt{
		display: none;
	}
	.footer p{
		font-size:13px;
	}
}

	